* { margin: 10px; padding: 0; }
* {font-family: sans-serif;}
#left { float: left; width: 50%;margin:0 }
#right { float:left; width: 50%;margin:0 }
.clear { clear: both; }

.flash {
    text-align: center;
    clear:              both;
    max-width:  30.923em; /* 610/13 */  
    *max-width: 45.750em; /* 610/13.3333 - for IE */
}
.flash.error {
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.button_to{
	margin:0;
	
}
.button_to div{
	margin:0;
}

.button_to input{
	margin:0;
}
.small{
	font-size:small;	
}
.zero_margin{
	margin: 0;
}
.spacer{
	margin-top:65px;
}
.text-left{
	text-align:left;
}
#footer{
	margin-top:100px;
}