#main * { margin: 10px; padding: 0; }
* {font-family: sans-serif;}
#left { float: left; width: 50%;margin:0 }
#right { float:left; width: 50%;margin:0 }
.clear { clear: both; }

.flash {
/*    text-align: center;*/
    /*padding*/:    .3em .4em;
    margin:             0 auto .5em;
    clear:              both;
    max-width:  46.923em; /* 610/13 */  
    *max-width: 45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
/*    bord	er: thin solid #8b0000;*/
    background: #ffc0cb;
}

.flash.notice, .flash.info {
/*    border: thin solid #ff0;*/
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.button_to{
	margin:0;
	
}
.button_to div{
	margin:0;
}.button_to input{
	margin:0;
}
#footer{
	margin-top:200px;
}

