%h1
  BTC NEAR ME
  
%h2
  Find Bitcoin traders near you... settle in cash in person.
	
/ %hr
	
/ YOUR IP IS:
/ =request.remote_ip
/ 
/ %hr
/ 
/ YOUR LOCATION IS 
/ =@location.inspect 

%hr
=form_for(:post, @post, :url => {:controller => :home,:action => :create_post}) do |f|
  I want to 
  =f.select(:buying_or_selling, options_for_select(["buy","sell"]))
  /=f.text_field(:quantity)
  BTC
  %br/
  Near zip code: 
  =f.text_field(:zip_code)

  %br/
  Interested traders can contact me at this email:
  =f.text_field(:email)
  =submit_tag("Post")
  %br/
  (email listed publicly)

%hr



-if @posts.present?
  %p
    Traders near 
    =cookies[:zip_code]

#left
  Buyers
  %table
    %th Distance
    %th Email
    -@posts.select{|p| p.buying_or_selling == "buy"}.each do |post|
      %tr
        %td=post.distance
        %td=mail_to(post.email)
      
#right
  Sellers
  %table
    %th Distance
    %th Email
    -@posts.select{|p| p.buying_or_selling == "sell"}.each do |post|
      %tr
        %td=post.distance
        %td=mail_to(post.email)
.clear
    
/ -if @posts.blank?
/   You are the first person to trade BTC in this area! 
  