%h1
  BTC NEAR ME
  
Find Bitcoin traders near you... settle in cash in person.
	
%hr
	
YOUR IP IS:
=request.remote_ip

%hr

YOUR LOCATION IS 
=@location.inspect 

%hr
I want to 
=select_tag(:buying_or_selling, options_for_select(["buy","sell"]))
=text_field_tag(:quantity)
BTC
