%h2
  Find Bitcoin traders near you... settle in cash.
%h4
  Negotiate terms via email. Meet in public with wireless internet!
	

.spacer
=form_for(@post, :url => {:controller => :home,:action => :create_post}) do |f|
  .flash.error
    =flash[:error]
  .flash.notice
    =flash[:notice]

  I want to 
  =f.select(:buying_or_selling, options_for_select(["buy","sell"]),{},{})
  /=f.text_field(:quantity)
  BTC
  %br/
  Near zip code / postal code: 
  =f.text_field(:zip_code)

  %br/
  Interested traders email me at:
  =f.text_field(:email)
  =submit_tag("Post")
  .small.zero_margin
    (emails shown publicly, email optional)


-if @posts.present?
  .spacer
  #left.small

    %h4="Buying"
    -if @buying.present?  

      %table
        %th Distance
        %th Email
        -@buying.each do |post|
          %tr
            %td="#{number_with_precision(post.distance, {:precision =>1 })} km" rescue ""
            %td=mail_to(post.email,nil,{:subject => "Trade BTC near #{cookies[:zip_code]}",:encode => "javascript"})
            %td.button_to=button_to("delete",:action => :delete_post, :id => post.id, :email => cookies[:email]) if post.email == cookies[:email]
    -else
      buyers      
  #right.small
    %h4="Selling"
  
    -if @selling.present?
      %table
        %th Distance
        %th Email
        -@selling.each do |post|
          %tr
            %td="#{number_with_precision(post.distance, {:precision =>1 })} km" rescue ""
            %td=mail_to(post.email,nil,{:subject => "Trade BTC near #{cookies[:zip_code]}"})
            %td.button_to=button_to("delete",:action => :delete_post, :id => post.id, :email => cookies[:email]) if post.email == cookies[:email]
    -else
      No sellers near you
  .clear
    
/ -if @posts.blank?
/   You are the first person to trade BTC in this area! 
  
